# Movie Rankings: Computing a Mean Rating

1) First, we are going to calculate the average rating for each movie in the dataset. We are also going to compute the average movie rating by gender;

2) We will display top three movies by average rating: for all users, for male users only, and for female users only.

3) We will find top three movies with the greatest difference in average rating comparing the results of male and female users.

In [3]:
# Settings 
import os
import numpy as np
import pandas as pd
import sqlite3
from sqlite3 import Error as SQLiteError

# SQLite
dbfile = "sqlitedb/movielens.db"
if not os.path.isfile(dbfile):
    print("Failed to detect the database file.")
    
# Establish DB Connection
conn = sqlite3.connect(dbfile)
if not conn:
    print("Failed to establish DB connection.")

In [67]:
# Data Query
query = """
    SELECT r.movie_id AS MovieID, 
        m.movie_name AS MovieName,
        r.user_id AS UserID,
        u.user_gender AS Gender,
        r.rating as Rating       
        
    FROM ratings AS r
        LEFT JOIN movies as m ON m.movie_id = r.movie_id
        LEFT JOIN users as u ON u.user_id = r.user_id
    ORDER BY r.movie_id, r.user_id
"""

summary = pd.read_sql_query(query, conn)

print("\nSummary DataFrame:\n")
print(summary.head(n=10))

Summary DataFrame:

   MovieID  MovieName  UserID  Gender  Rating
0        1  Toy Story     139       0       2
1        1  Toy Story     755       0       2
2        1  Toy Story    1577       1       4
3        1  Toy Story    1940       0       4
4        1  Toy Story    2765       0       4
5        1  Toy Story    3048       1       4
6        1  Toy Story    3118       1       3
7        1  Toy Story    3823       1       3
8        1  Toy Story    4117       1       4
9        1  Toy Story    4388       0       2